.allBooksDiv {
    width: 70%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 30px 0px;
    margin-top: 15px;
}

.singleBookCard {
    margin-top: 15px;
}

.addBookContainer{
    width: 45%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20vh;
}

.sucessAlert{
    display: none;
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 15px;
}